<!DOCTYPE html>
<html>

<head>

    <!-- Browser title -->
    <title>Complete Profile</title>

    <!-- Connect CSS -->
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- Main card container -->
    <div class="container">

        <!-- Heading -->
        <h1>Complete Profile</h1>

        <!-- Platform Inputs -->
        <input type="text" id="leetcode" placeholder="Leetcode Username">
        
        <input type="text" id="codeforces" placeholder="Codeforces Username">
        
        <input type="text" id="hackerrank" placeholder="Hackerrank Username">
        
        <input type="text" id="github" placeholder="GitHub Username">

        <!-- Button calls submitProfile function -->
        <button onclick="submitProfile()">
            Save Profile
        </button>

    </div>

    <!-- Connect JavaScript -->
    <script src="../js/profile.js"></script>

</body>

</html>
