<!DOCTYPE html>
<html>

<head>

    <!-- Browser title -->
    <title>Login</title>


    <!-- Connect CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!-- Main card container -->
    <div class="container">

        <!-- Heading -->
        <h1>Login</h1>


        <!-- Email input -->
        <input
            type="email"
            id="email"
            placeholder="Enter Email"
        >


        <!-- Password input -->
        <input
            type="password"
            id="password"
            placeholder="Enter Password"
        >


        <!-- Button calls login function -->
        <button onclick="loginUser()">

            Login

        </button>


        <!-- Navigate to register -->
        <p>

            New User?

            <a href="register.html">

                Register

            </a>

        </p>

    </div>


    <!-- Connect JavaScript -->
    <script src="js/auth.js"></script>

</body>

</html>