<!DOCTYPE html>
<html>

<head>

    <!-- Browser tab title -->
    <title>Register</title>


    <!-- Connect external CSS file -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!-- Main container -->
    <div class="container">

        <!-- Main heading -->
        <h1>Create Account</h1>


        <!-- Name input field -->
        <input
            type="text"
            id="name"
            placeholder="Enter Name"
        >


        <!-- Email input field -->
        <input
            type="email"
            id="email"
            placeholder="Enter Email"
        >


        <!-- Password input field -->
        <input
            type="password"
            id="password"
            placeholder="Enter Password"
        >


        <!-- Button triggers register function -->
        <button onclick="registerUser()">

            Register

        </button>


        <!-- Navigate to login page -->
        <p>

            Already have account?

            <a href="login.html">

                Login

            </a>

        </p>

    </div>


    <!-- Connect JavaScript file -->
    <script src="js/auth.js"></script>

</body>

</html>